## Introduction to Pandas

#### Importing and using the package

In [2]:
import numpy as np
import pandas as pd

In [150]:
pd?

#### Data Structure 1: Series

In [151]:
print(np.arange(10))

[0 1 2 3 4 5 6 7 8 9]

In [152]:
a = pd.Series(np.random.random(10))

print(a)

0    0.346133
1    0.797978
2    0.761719
3    0.478788
4    0.849617
5    0.887745
6    0.977799
7    0.405978
8    0.401578
9    0.991548
dtype: float64

In [153]:
print(a *10)

0    3.461333
1    7.979777
2    7.617191
3    4.787882
4    8.496171
5    8.877455
6    9.777988
7    4.059777
8    4.015781
9    9.915475
dtype: float64

#### Accessing elements in a DataFrame

In [154]:
a[5]

0.8877454852683951

In [3]:
b = pd.Series(np.arange(10), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(b)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int32

In [156]:
print(b[5])
print(b['f'])

5
5

In [157]:
mydict = {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}
pd.Series(mydict)

a    0
b    1
c    2
d    3
e    4
dtype: int64

#### Data Structure 2: DataFrames

In [158]:
df_ser = pd.DataFrame(np.arange(10))
print(df_ser)

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [8]:
np.random.random((10, 10))
df = pd.DataFrame(np.random.random((10, 10)))
print(df)

          0         1         2         3         4         5         6  \
0  0.223248  0.024909  0.109158  0.737034  0.347732  0.664451  0.282657
1  0.820044  0.609179  0.346144  0.980302  0.349395  0.463945  0.958438
2  0.292190  0.864011  0.241498  0.693685  0.700107  0.102491  0.302548
3  0.678753  0.235693  0.045040  0.444556  0.072650  0.485985  0.284899
4  0.953767  0.283939  0.341463  0.375765  0.311912  0.496937  0.139974
5  0.084385  0.329075  0.565548  0.258575  0.333949  0.792820  0.584321
6  0.740821  0.083089  0.232864  0.035016  0.642146  0.647220  0.405272
7  0.546774  0.954576  0.860790  0.877482  0.056550  0.716745  0.852149
8  0.704672  0.340987  0.409828  0.131000  0.035123  0.851697  0.355608
9  0.575460  0.149067  0.706702  0.399476  0.113445  0.514333  0.041960

          7         8         9
0  0.948595  0.880356  0.311778
1  0.697433  0.135186  0.242735
2  0.754880  0.978460  0.745063
3  0.330889  0.819103  0.829096
4  0.098064  0.764753  0.558321
5  0.562524  0.575793  0.423242
6  0.504181  0.880120  0.801324
7  0.260280  0.263787  0.871786
8  0.543035  0.012740  0.044805
9  0.387779  0.124169  0.053061

In [5]:
print(df.columns)
#print(df[1])

RangeIndex(start=0, stop=10, step=1)

#### Using Column Names

In [11]:
colnames = ['Apple', 'Banana', 'Dog', 'Column3', 'Column4', 'Column5', 'Column6', 'Column7', 'Column8', 'Column9']

In [12]:
df_col = pd.DataFrame(np.random.random((10, 10)), columns=colnames)
print(df_col)

      Apple    Banana       Dog   Column3   Column4   Column5   Column6  \
0  0.550824  0.344772  0.112624  0.110340  0.131022  0.368320  0.855702
1  0.733579  0.560274  0.411737  0.792945  0.409369  0.133726  0.184717
2  0.528125  0.163210  0.049627  0.745040  0.087792  0.582748  0.359181
3  0.639338  0.974920  0.186425  0.743692  0.046121  0.801389  0.384716
4  0.899269  0.689355  0.548404  0.439868  0.698381  0.492541  0.152281
5  0.241014  0.684062  0.148118  0.946851  0.763291  0.598612  0.297466
6  0.400279  0.860621  0.626234  0.218099  0.350097  0.125337  0.130286
7  0.085631  0.637380  0.406142  0.223915  0.834342  0.203364  0.947882
8  0.408948  0.347347  0.291601  0.538495  0.653217  0.819370  0.482592
9  0.636441  0.130593  0.733342  0.976873  0.654090  0.187479  0.828715

    Column7   Column8   Column9
0  0.843562  0.139706  0.973693
1  0.701356  0.013723  0.551848
2  0.693598  0.018449  0.867614
3  0.199827  0.840817  0.938269
4  0.637805  0.311073  0.159278
5  0.679389  0.078484  0.587696
6  0.497427  0.059374  0.890168
7  0.132243  0.946057  0.788975
8  0.233883  0.248857  0.771840
9  0.783665  0.687289  0.437355

In [13]:
df_col.head()
df_col.head(3)
df_col.tail()

,Apple,Banana,Dog,Column3,Column4,Column5,Column6,Column7,Column8,Column9
0,0.550824,0.344772,0.112624,0.110340,0.131022,0.368320,0.855702,0.843562,0.139706,0.973693
1,0.733579,0.560274,0.411737,0.792945,0.409369,0.133726,0.184717,0.701356,0.013723,0.551848
2,0.528125,0.163210,0.049627,0.745040,0.087792,0.582748,0.359181,0.693598,0.018449,0.867614

#### Converting other structures to DataFrames

In [164]:
mylist = [4, 5, 6, 7, 8]
pd.DataFrame(mylist, columns = ["mycolumn"])

   mycolumn
0         4
1         5
2         6
3         7
4         8

In [165]:
mydict={"Breed": ["Cat", "Dog", "GuineaPig"], "Name": ["Meowy", "Bello", "Carmen"]}
pd.DataFrame(mydict)

       Breed    Name
0        Cat   Meowy
1        Dog   Bello
2  GuineaPig  Carmen

In [166]:
print(pd.DataFrame.from_dict(mydict, orient='columns'))
print(pd.DataFrame.from_dict(mydict, orient='index'))

       Breed    Name
0        Cat   Meowy
1        Dog   Bello
2  GuineaPig  Carmen
           0      1          2
Breed    Cat    Dog  GuineaPig
Name   Meowy  Bello     Carmen

In [8]:
pd.DataFrame.from_dict?

#### Applying functions to DataFrames

In [168]:
# taking the mean of each column
df_col.mean()
df_col.mean(axis=0)

Apple      0.429255
Banana     0.374633
Dog        0.479146
Column3    0.525023
Column4    0.551580
Column5    0.485944
Column6    0.435240
Column7    0.681344
Column8    0.599532
Column9    0.581511
dtype: float64

In [169]:
# taking the mean of each row
df_col.mean(axis=1)

0    0.529276
1    0.564875
2    0.493064
3    0.378625
4    0.588985
5    0.458915
6    0.634015
7    0.544296
8    0.588109
9    0.363050
dtype: float64

In [2]:
animals = pd.read_csv('sleepinmammals.csv')

FileNotFoundError: File b'sleepinmammals.csv' does not exist