# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
# Import numpy, pandas and mysqlalchemy (following what you have learned in previous lessons):

import numpy as np
import pandas as pd
#import pymysql
from sqlalchemy import create_engine

# Challenge 1 - Load and Evaluate the Datasets

#### In this challenge we will load two SQL tables from [this link](https://relational.fit.cvut.cz/dataset/Stats). We will then proceed to evaluate the data to see what type of cleaning and manipulation is necessary.

In the cell below, create a mysql engine using the link provided above.

In [4]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

ModuleNotFoundError: No module named 'pymysql'

In [2]:
df = pd.read_csv("users.csv")
df

,Unnamed: 0,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

Use this connection to load the `users` table (stats.users). Load this table into a variable called `users`. You will need to use the method pd.read_sql_query where you can speficy a SQL query together with the engine!

In [4]:
# Your code here:

#### Let's start examining the dataset.

First look at the first five rows using the `head` function.

In [5]:
# Your code here:

df.head(5)

,Unnamed: 0,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

Next, examine the column names and types to see if there is a type mismatch. Use the `dtypes` function.

In [6]:
# Your code here:

df.columns
df.dtypes

Unnamed: 0           int64
Id                   int64
Reputation           int64
CreationDate        object
DisplayName         object
LastAccessDate      object
WebsiteUrl          object
Location            object
AboutMe             object
Views                int64
UpVotes              int64
DownVotes            int64
AccountId            int64
Age                float64
ProfileImageUrl     object
dtype: object

Finally, we'll examine the `describe` function to see the descriptive statistics for the numeric variables.

In [8]:
# Your code here:

df.describe()

,Unnamed: 0,Id,Reputation,Views,UpVotes,DownVotes,AccountId,Age
count,40325.000000,40325.000000,40325.000000,40325.000000,40325.000000,40325.000000,4.032500e+04,8318.000000
mean,20162.000000,28037.399727,84.078735,8.909634,6.587452,0.260905,2.032547e+06,31.642582
std,11640.969139,16323.402785,791.426513,154.273963,134.493655,11.252922,1.571884e+06,9.294174
min,0.000000,-1.000000,1.000000,0.000000,0.000000,0.000000,-1.000000e+00,13.000000
25%,10081.000000,12971.000000,1.000000,0.000000,0.000000,0.000000,4.578670e+05,26.000000
50%,20162.000000,28042.000000,11.000000,0.000000,0.000000,0.000000,1.816441e+06,30.000000
75%,30243.000000,42549.000000,101.000000,3.000000,0.000000,0.000000,3.357012e+06,35.000000
max,40324.000000,55747.000000,87393.000000,20932.000000,11442.000000,1920.000000,5.027354e+06,94.000000

#### Now let's load the posts table in the cell below.

Use the same mysql engine to load the posts table (stats.posts) into a dataframe called `posts`.

In [9]:
import os

In [8]:
pwd

'C:\\Users\\april\\git\\data-pt-ber-08-20_Shinan\\Labs\\module-1_labs\\04_pandas\\04_lab-data_cleaning\\your-code'

In [2]:
# Your code here:

# df_posts = pd.read_csv("C:\\Users\\april\\git\\posts.csv") -> both are fine
df_posts = pd.read_csv("C:/Users/april/git/posts.csv")
df_posts.head()

,Unnamed: 0,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### Let's repeat what we did with the `users` table and print the first 5 rows, the data types of each column and describe the numeric data.

Do this in the following 3 cells below.

In [14]:
# Your code here:
df_posts.columns

Index(['Unnamed: 0', 'Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title',
       'Tags', 'AnswerCount', 'CommentCount', 'FavoriteCount',
       'LastEditorUserId', 'LastEditDate', 'CommunityOwnedDate', 'ParentId',
       'ClosedDate', 'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

In [15]:
# Your code here:

df_posts.describe

<bound method NDFrame.describe of        Unnamed: 0      Id  PostTypeId  AcceptedAnswerId          CreaionDate  \
0               0       1           1              15.0  2010-07-19 19:12:12
1               1       2           1              59.0  2010-07-19 19:12:57
2               2       3           1               5.0  2010-07-19 19:13:28
3               3       4           1             135.0  2010-07-19 19:13:31
4               4       5           2               NaN  2010-07-19 19:14:43
...           ...     ...         ...               ...                  ...
91971       91971  115374           2               NaN  2014-09-13 23:45:39
91972       91972  115375           1               NaN  2014-09-13 23:46:05
91973       91973  115376           1               NaN  2014-09-14 01:27:54
91974       91974  115377           2               NaN  2014-09-14 02:03:28
91975       91975  115378           2               NaN  2014-09-14 02:09:23

       Score  ViewCount                                               Body  \
0         23     1278.0  <p>How should I elicit prior distributions fro...
1         22     8198.0  <p>In many different statistical methods there...
2         54     3613.0  <p>What are some valuable Statistical Analysis...
3         13     5224.0  <p>I have two groups of data.  Each with a dif...
4         81        NaN  <p>The R-project</p>\n\n<p><a href="http://www...
...      ...        ...                                                ...
91971      2        NaN  <p>This grew too long for a comment, but I thi...
91972      0        9.0  <p>Assume a classification problem where there...
91973      1        5.0  <p>My goal is to create a formula that can giv...
91974      0        NaN  <p>As a practical answer to the real questions...
91975      0        NaN  <p>Decision trees are notoriously <strong>unst...

       OwnerUserId      LasActivityDate  ... AnswerCount CommentCount  \
0              8.0  2010-09-15 21:08:26  ...         5.0            1
1             24.0  2012-11-12 09:21:54  ...         7.0            1
2             18.0  2013-05-27 14:48:36  ...        19.0            4
3             23.0  2010-09-08 03:00:19  ...         5.0            2
4             23.0  2010-07-19 19:21:15  ...         NaN            3
...            ...                  ...  ...         ...          ...
91971        805.0  2014-09-14 02:05:41  ...         NaN            2
91972      49365.0  2014-09-14 02:09:23  ...         1.0            0
91973      55746.0  2014-09-14 01:40:55  ...         0.0            2
91974        805.0  2014-09-14 02:54:13  ...         NaN            0
91975       7250.0  2014-09-14 02:09:23  ...         NaN            0

       FavoriteCount  LastEditorUserId         LastEditDate  \
0               14.0               NaN                  NaN
1                8.0              88.0  2010-08-07 17:56:44
2               36.0             183.0  2011-02-12 05:50:03
3                2.0               NaN                  NaN
4                NaN              23.0  2010-07-19 19:21:15
...              ...               ...                  ...
91971            NaN             805.0  2014-09-14 02:05:41
91972            NaN               NaN                  NaN
91973            NaN            7290.0  2014-09-14 01:40:55
91974            NaN             805.0  2014-09-14 02:54:13
91975            NaN               NaN                  NaN

        CommunityOwnedDate  ParentId ClosedDate  OwnerDisplayName  \
0                      NaN       NaN        NaN               NaN
1                      NaN       NaN        NaN               NaN
2      2010-07-19 19:13:28       NaN        NaN               NaN
3                      NaN       NaN        NaN               NaN
4      2010-07-19 19:14:43       3.0        NaN               NaN
...                    ...       ...        ...               ...
91971                  NaN  115367.0        NaN               NaN
91972                  NaN       NaN        NaN               NaN
91973                  NaN       NaN        NaN               NaN
91974                  NaN  115358.0        NaN               NaN
91975                  NaN  115375.0        NaN               NaN

      LastEditorDisplayName
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
91971                   NaN
91972                   NaN
91973                   NaN
91974                   NaN
91975                   NaN

[91976 rows x 22 columns]>

In [13]:
# Your code here:

# Challenge 2 - Prepare the Datasets for Merging and Merge

#### We would like to join a subset of columns from each table. To ease the process, let's create a new dataframe containing a subset of columns for both `posts` and `users`

In the cell below, create a new dataframe called `posts_subset` containing only the columns: `Id`, `Score`, `OwnerUserID`, `ViewCount` ,`CommentCount`

In [18]:
# Your code here:
posts_subset = df_posts[["Id", "Score", "OwnerUserId", "ViewCount", "CommentCount"]]
posts_subset

           Id  Score  OwnerUserId  ViewCount  CommentCount
0           1     23          8.0     1278.0             1
1           2     22         24.0     8198.0             1
2           3     54         18.0     3613.0             4
3           4     13         23.0     5224.0             2
4           5     81         23.0        NaN             3
...       ...    ...          ...        ...           ...
91971  115374      2        805.0        NaN             2
91972  115375      0      49365.0        9.0             0
91973  115376      1      55746.0        5.0             2
91974  115377      0        805.0        NaN             0
91975  115378      0       7250.0        NaN             0

[91976 rows x 5 columns]

In the cell below, create a dataframe called `users_subset` containing only the columns `Id`, `Reputation`, `Views`, `UpVotes`, `DownVotes`.

In [19]:
# Your code here:
users_subset = df[["Id", "Reputation", "Views", "UpVotes", "DownVotes"]]
users_subset

          Id  Reputation  Views  UpVotes  DownVotes
0         -1           1      0     5007       1920
1          2         101     25        3          0
2          3         101     22       19          0
3          4         101     11        0          0
4          5        6792   1145      662          5
...      ...         ...    ...      ...        ...
40320  55743           1      0        0          0
40321  55744           6      1        0          0
40322  55745         101      0        0          0
40323  55746         106      1        0          0
40324  55747           1      0        0          0

[40325 rows x 5 columns]

#### You will note that the Id column does not refer to the same thing in both tables. In the posts table, it refers to the post ID and in the users table it refers to the user ID. 

In the `users_subset` dataframe, rename the `Id` column to `UserId`. Do this using the option `inplace=True`.

In [24]:
# Your code here:
users_subset.rename(columns={"Id":"UserId"}, inplace=True)

In the `posts_subset` dataframe, rename the `Id` column to `PostId`. Do this using the option `inplace=True`.

In [26]:
# Your code here:
posts_subset.rename(columns={"Id":"PostId"}, inplace=True)

We identify the only column that the two tables have in common as the user ID. However, this column is called `UserId` in the `users_subset` table and `OwnerUserId` in the `posts_subset` table. Using what we have previously learned about merging two dataframes and looking at the documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html), merge the two dataframes. Name the merged dataframe `stackoverflow`.

In [36]:
# Your code here:
stackoverflow = users_subset.merge(posts_subset, how="left", left_on="UserId", right_on="OwnerUserId")
stackoverflow

,UserId,Reputation,Views,UpVotes,DownVotes,PostId,Score,OwnerUserId,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,-1.0,NaN,0.0
1,-1,1,0,5007,1920,8576.0,0.0,-1.0,NaN,0.0
2,-1,1,0,5007,1920,8578.0,0.0,-1.0,NaN,0.0
3,-1,1,0,5007,1920,8981.0,0.0,-1.0,NaN,0.0
4,-1,1,0,5007,1920,8982.0,0.0,-1.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...
108921,55743,1,0,0,0,NaN,NaN,NaN,NaN,NaN
108922,55744,6,1,0,0,115370.0,1.0,55744.0,13.0,2.0
108923,55745,101,0,0,0,NaN,NaN,NaN,NaN,NaN
108924,55746,106,1,0,0,115376.0,1.0,55746.0,5.0,2.0
108925,55747,1,0,0,0,NaN,NaN,NaN,NaN,NaN

Check to see if you have kept both key columns (if you join by making one of the columns an index first, this can be avoided).

If both columns are present in `stackoverflow`, drop `OwnerUserId`. Do this using `inplace=True`.

In [35]:
# Your code here:
stackoverflow.drop("OwnerUserId", axis=1, inplace=True)
stackoverflow

KeyError: "['OwnerUserId'] not found in axis"

# Challenge 3 - Cleaning Up the Data

Now that we have merged the two dataframes, let's handle the missing values.

Find the number of missing values in each column by applying the `isna()` function to the dataframe. Then apply the `sum()` function to that to find the count of missing values in each column.

In [38]:
# Your code here:

stackoverflow.isna().sum()

UserId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
PostId          18342
Score           18342
OwnerUserId     18342
ViewCount       66738
CommentCount    18342
dtype: int64

In [51]:
# stackoverflow[stackoverflow.ViewCount.isnull()]
stackoverflow[stackoverflow["ViewCount"].isnull()].describe()

,UserId,Reputation,Views,UpVotes,DownVotes,PostId,Score,OwnerUserId,ViewCount,CommentCount
count,66738.000000,66738.000000,66738.000000,66738.000000,66738.000000,48396.000000,48396.000000,48396.000000,0.0,48396.000000
mean,16939.051919,8204.201789,1347.841904,958.884309,44.019209,52014.940284,3.040541,11955.216216,NaN,1.705472
std,16383.736109,17083.801145,3279.954140,2331.380262,155.357873,33998.797331,5.108535,13251.239062,NaN,2.550726
min,-1.000000,1.000000,0.000000,0.000000,0.000000,5.000000,-19.000000,-1.000000,NaN,0.000000
25%,2884.750000,101.000000,1.000000,0.000000,0.000000,21406.750000,1.000000,1352.000000,NaN,0.000000
50%,10667.500000,790.000000,76.000000,44.000000,1.000000,49838.500000,2.000000,7250.000000,NaN,1.000000
75%,28740.000000,7931.000000,946.000000,523.000000,20.000000,80709.750000,4.000000,17935.000000,NaN,2.000000
max,55747.000000,87393.000000,20932.000000,11442.000000,1920.000000,115378.000000,164.000000,55729.000000,NaN,45.000000

We see that about half of all observations in the view count column are missing. Let's examine these observations and why they have missing data. Create a subset of rows that have a missing value in the `ViewCount`. Look at the `describe()` function for that subset. You output should look like in the table below.

![describe table](../describe-table.png)

In [21]:
# Your code here:

It seems that there is a mix of users. They do not have a high comment count but they do have some upvotes and downvotes. Therefore, it would not make sense to fill these values with zero. 

If we investigate further, we will see that there are some users that have view counts missing for some posts but not others. We will cover different ways of investigating further in future lessons. What we can certainly say is that we should not fill all cells with the same values. One way to fill the values is using linear interpolation. Linear interpolation assumes that there is a line between two points and places all observations between the two points along that line. You can read more about linear interpolation [here](https://en.wikipedia.org/wiki/Linear_interpolation).

To apply linear interpolation to our missing data, we use the `interpolate` function in pandas. You can read the documentation for this function [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.interpolate.html).

Apply the `interpolate` function to the `ViewCount` column. Use `inplace=True`

In [56]:
# Your code here:

stackoverflow["ViewCount"].interpolate(inplace=True)

# Bonus Challenge - Fill the Missing Data Using Linear Regression

We have learned about linear regression in the prework. To read more about linear regression in Python, click [here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

Create a linear model where the Y variable is the `ViewCount` and the X variable is `Score`. Make sure to use only rows that do not contain `NaN` by filtering them out.

Use this regression model to produce a fitted value for every `NaN`. Using the `np.where` function, assign the predicted value only to rows where you have a `NaN`.

Tip: If you get an error when creating your linear model, reshape the data to the correct shape (a 2D array) by appending `.values.reshape(-1, 1)` to the column. Also, transform the predicted data from a numpy array back to a dataframe and use only one column.

In [23]:
# Your code here:

We have seen that both `UserId` and `PostsId` are treated as numeric even though they do not describe anything quantitative about the data. We would like to exclude them from any numeric calculations. To do this, we should change them from numeric to string. Transform each column from numeric to string using the `astype` function and pass the argument `'str'` to the function. Since we cannot do this in place, assign these new values back to their original column names.

In [24]:
# Your code here:

#### We would like to simplify the comment count variable by bucketing this variable. 

In the cell below, we have created 5 bins. Bucket this variable into equal width bins using the `cut` function. Create a new column called `CommentBins` and assign the bucketed data to this column.

In [25]:
comment_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
# Your code here: