In [1]:
def double_function(x):
    return x*2

In [2]:
double_function(10)

20

In [5]:
double_function = lambda x: 2*x

In [6]:
double_function(5)

10

In [8]:
plus_five = lambda x: x+5
plus_five(5)

10

In [10]:
(lambda x: x+2)(10)

12

In [11]:
def add_function (x, y):
    return x+y

In [13]:
add_function(2, 3)
# if not y meaning y is fales

5

In [14]:
add_function = lambda x, y: x + y

In [15]:
(lambda x, y: x + y)(2, 3)

5

In [16]:
def return_max(x, y):
    if x > y:
        print(x)
    else:
        print(y)

In [17]:
return_max(2, 3)

3

In [20]:

ret_max = lambda x, y: y if x<y else x
ret_max(2, 3)

3

In [22]:
# apply lambda to dataframe
(lambda x, y, z: x + y +z)(1, 2, 3)

6

In [27]:
def even_zero_function(x):
    if x % 2 == 0:
        return x
    else:
        return 0

even_zero_function(11)
# if use print, this function will not return anything . x is local variable.

0

In [29]:
(lambda x: x if x%2==0 else 0)(5)

0

In [30]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
divide_two = [i/2 for i in mylist]
print(divide_two)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [35]:
[(lambda i: i/2)(i) for i in mylist]

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

In [38]:
[(lambda x: x if x%2 ==0 else 0)(x) for x in mylist]

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [42]:
misters = ['MissesE', 'MisterB', 'MisterF', 'MisterD']

In [43]:
sorted(misters, reverse=True)

['MisterF', 'MisterD', 'MisterB', 'MissesE']

In [47]:
last_lambda = lambda x: x[-1]
last_lambda('Apple')
sorted(misters, key=last_lambda)

['MisterB', 'MisterD', 'MissesE', 'MisterF']

In [50]:
list_tuples = [('eggs', 1), ('apples', 2), ('carrots', 1)]
second_letter = lambda x: x[0][1]
sorted(list_tuples, key = second_letter)

[('carrots', 1), ('eggs', 1), ('apples', 2)]

In [1]:
list(zip([1, 2, 3], 'abc'))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [2]:
a = set([1, 2, 3, 4, 5, 6])
b =['cat', 'dog', 'cow']
list(zip(a,b))

[(1, 'cat'), (2, 'dog'), (3, 'cow')]

In [8]:
list1 = [21, 35, 72, 11]
list2 = [1, 4, 15, 22]
list(zip(list1, list2))

[(21, 1), (35, 4), (72, 15), (11, 22)]

In [6]:
[a+b for (a, b) in zip(list1, list2)]

[22, 39, 87, 33]

In [12]:
[(lambda x, y: x + y)(x, y) for (x, y) in zip(list1, list2)]

[22, 39, 87, 33]

In [5]:
def generate_range(lower):
    return lambda upper: range(lower, upper)

custom_range = generate_range(0)

[x for x in custom_range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]