##  Imports

In [2]:
import pandas as pd
import requests
import json
import matplotlib
%matplotlib inline

### Challenge 1: 

Get the Bitcoin market value vs USD for last 30 days. For your results, you would like to deliver them both as a DataFrame and then create an appropriate plot.

Hint: start by creating a base_url for the Coingecko API, and then adding the parameters you want by looking at the documentation, which you can find here: https://www.coingecko.com/api/documentations/v3#

Specifically in this example, we are looking at: https://www.coingecko.com/api/documentations/v3#/coins/get_coins__id__market_chart

You want a coin (Bitcoin), vs USD, timeframe of 30 days.

For creating the DataFrame, you can print out all of the keys of your resulting json file, to see which ones you would like to extract as columns! The timestamp for these dataseries is in milliseconds - you can convert it to a convenient format using pd.to_datetime (look into how you can specify the unit here!)

In [5]:
help(requests.get)

Help on function get in module requests.api:

get(url, params=None, **kwargs)
    Sends a GET request.

    :param url: URL for the new :class:`Request` object.
    :param params: (optional) Dictionary, list of tuples or bytes to send
        in the query string for the :class:`Request`.
    :param \*\*kwargs: Optional arguments that ``request`` takes.
    :return: :class:`Response <Response>` object
    :rtype: requests.Response

In [21]:
# Your code here: 
base = 'https://api.coingecko.com/api/v3/'
url = base + 'coins/bitcoin/market_chart'
param_dict = {'id':'bitcoin', 'vs_currency':'usd', 'days':30}

response = requests.get(url, params=param_dict)
results = response.json()


print(results.keys())

# now create a dataframe and a plot!
# pd.json_normalize(results["prices"])

df_prices = pd.DataFrame(results["prices"])
time_stamp = pd.to_datetime(df_prices[0], unit="ms")
df_market_caps = pd.DataFrame(results["market_caps"])
df_totalvolumns = pd.DataFrame(results["total_volumes"])

dict_keys(['prices', 'market_caps', 'total_volumes'])

In [9]:
import pandas as pd 
   
# create a new data frame 
df = pd.DataFrame({'Name': ['John Larter', 'Robert Junior', 'Jonny Depp'], 
                    'Age':[32, 34, 36]}) 
   
print("Given Dataframe is :\n",df) 
   
# Adding two new columns to the existing dataframe. 
# bydefault splitting is done on the basis of single space. 
df[['First','Last']] = df.Name.str.split(expand=True) 
   
print("\n After adding two new columns : \n", df)

Given Dataframe is :
             Name  Age
0    John Larter   32
1  Robert Junior   34
2     Jonny Depp   36

 After adding two new columns :
             Name  Age   First    Last
0    John Larter   32    John  Larter
1  Robert Junior   34  Robert  Junior
2     Jonny Depp   36   Jonny    Depp

In [11]:
base = 'https://api.coingecko.com/api/v3/'
url = base + 'coins/bitcoin/market_chart'
param_dict = {'id':'bitcoin', 'vs_currency':'usd', 'days':30}

response = requests.get(url, params=param_dict)
results = response.json()
print(results.keys())


df_results = pd.DataFrame(results)
print(df_results)

dict_keys(['prices', 'market_caps', 'total_volumes'])
                                  prices                          market_caps  \
0    [1599681767526, 10289.829569349205]  [1599681767526, 190201901922.13443]
1     [1599685402642, 10259.80188146285]   [1599685402642, 189647236059.2869]
2    [1599689062452, 10244.594756346976]   [1599689062452, 189366529356.1332]
3    [1599692630965, 10278.040385404536]  [1599692630965, 189984951406.02948]
4    [1599696235358, 10219.519947596742]   [1599696235358, 188919740630.5274]
..                                   ...                                  ...
716  [1602259794975, 11071.223139780059]  [1602259794975, 205293771039.82742]
717  [1602262905347, 11050.650418378676]  [1602262905347, 204573430918.11963]
718  [1602266486146, 11063.265589793715]  [1602266486146, 204731516003.42245]
719  [1602270189264, 11048.587657762702]   [1602270189264, 204493666550.1175]
720  [1602273624000, 11041.464757718673]    [1602273624000, 204403314061.946]

                           total_volumes
0    [1599681767526, 22110027999.652576]
1    [1599685402642, 21955735589.716988]
2    [1599689062452, 21941018142.093685]
3    [1599692630965, 20853335250.515747]
4     [1599696235358, 21332028598.93842]
..                                   ...
716   [1602259794975, 20269092706.69453]
717   [1602262905347, 20253096663.09623]
718   [1602266486146, 20025910620.67484]
719  [1602270189264, 20048322070.429943]
720   [1602273624000, 20030179153.12658]

[721 rows x 3 columns]

In [48]:
colnames = ["timestamp", "prices", "market_caps", "total_volumes" ]
df = pd.concat([time_stamp, df_prices[1], df_market_caps[1], df_totalvolumns[1]], axis=1)
df.columns = colnames
df

                  timestamp        prices   market_caps  total_volumes
0   2020-09-08 19:04:49.351   9978.866934  1.845693e+11   4.595180e+10
1   2020-09-08 20:09:12.369  10035.487962  1.848802e+11   4.637075e+10
2   2020-09-08 21:07:00.045  10004.316334  1.853500e+11   4.634483e+10
3   2020-09-08 22:02:13.874  10035.279584  1.848613e+11   4.665163e+10
4   2020-09-08 23:04:18.405  10113.466232  1.859120e+11   4.771341e+10
..                      ...           ...           ...            ...
716 2020-10-08 15:08:52.776  10914.223466  2.018795e+11   1.945535e+10
717 2020-10-08 16:09:39.632  10905.082526  2.016888e+11   1.957902e+10
718 2020-10-08 17:02:01.391  10923.247265  2.018321e+11   1.984468e+10
719 2020-10-08 18:04:43.163  10876.165447  2.013345e+11   1.998146e+10
720 2020-10-08 18:53:20.000  10877.605143  2.014072e+11   1.985976e+10

[721 rows x 4 columns]

### Challenge 2: 

Get the Litecoin market value vs USD for last 30 days. For your results, you would like to deliver them both as a DataFrame and then create an appropriate plot.

In [45]:
# Your code here:
base = 'https://api.coingecko.com/api/v3/'
url = base + 'coins/litecoin/market_chart'
param_dict = {'id':'litecoin', 'vs_currency':'usd', 'days':30}

response = requests.get(url, params=param_dict)
results = response.json()


print(results.keys())

dict_keys(['prices', 'market_caps', 'total_volumes'])

### Challenge 3: 

Get historical data for Bitcoin on January 1st, 2020. As a result, you would like to have a Dataframe which contains all of the currencies against which the price is expressed in one column, and the current price (at that date) in a second column.

Hint: you might receive an error message saying "If using all scalar values, you must pass an index". Google it! :)

In [52]:
# Your code here:
base = 'https://api.coingecko.com/api/v3/'
url = base + '/simple/supported_vs_currencies'
results = requests.get(url).json()

# param_dict = {'id':'bitcoin', 'vs_currency':'usd', 'days':30}

# response = requests.get(url, params=param_dict)
# results = response.json()


print(results)

['btc', 'eth', 'ltc', 'bch', 'bnb', 'eos', 'xrp', 'xlm', 'link', 'dot', 'yfi', 'usd', 'aed', 'ars', 'aud', 'bdt', 'bhd', 'bmd', 'brl', 'cad', 'chf', 'clp', 'cny', 'czk', 'dkk', 'eur', 'gbp', 'hkd', 'huf', 'idr', 'ils', 'inr', 'jpy', 'krw', 'kwd', 'lkr', 'mmk', 'mxn', 'myr', 'nok', 'nzd', 'php', 'pkr', 'pln', 'rub', 'sar', 'sek', 'sgd', 'thb', 'try', 'twd', 'uah', 'vef', 'vnd', 'zar', 'xdr', 'xag', 'xau']

In [17]:
base = 'https://api.coingecko.com/api/v3/'
url = base + 'coins/bitcoin/history'
param_dict = {'id':'bitcoin', 'date': '01-01-2020'}

response = requests.get(url, params=param_dict)
results = response.json()
# if look into API, first level market data-> current price

test = results['market_data']['current_price']
print(test)
df = pd.Series(test).to_frame().reset_index()

df

{'aed': 26429.239288693556, 'ars': 430563.0457102599, 'aud': 10256.814195551682, 'bch': 35.13945542496315, 'bdt': 610699.0910671571, 'bhd': 2712.9039956563156, 'bmd': 7195.153895430029, 'bnb': 524.566548150439, 'brl': 28924.295609858014, 'btc': 1.0, 'cad': 9358.37691409107, 'chf': 6960.591878439016, 'clp': 5320108.748626738, 'cny': 50102.01512004795, 'czk': 163099.02898621798, 'dkk': 47942.74943602943, 'eos': 2781.8809082604266, 'eth': 55.68501916033821, 'eur': 6412.84639784161, 'gbp': 5425.8655525437825, 'hkd': 56039.81587225152, 'huf': 2124570.2346158647, 'idr': 99890321.53025515, 'ils': 24853.50058559437, 'inr': 513021.6678980566, 'jpy': 782005.0213052781, 'krw': 8308532.009208873, 'kwd': 2181.5490756326963, 'lkr': 1304735.8218832046, 'ltc': 174.0887420294398, 'mmk': 10617722.546529299, 'mxn': 136221.53160983959, 'myr': 29431.777009256508, 'nok': 63458.37929613472, 'nzd': 10707.086926327705, 'php': 364151.9191585182, 'pkr': 1114376.139185372, 'pln': 27382.95693753285, 'rub': 446424.58259388816, 'sar': 26989.77055776315, 'sek': 67403.48217699902, 'sgd': 9704.82357415603, 'thb': 213659.11638386527, 'try': 42802.53149313422, 'twd': 215228.63847399823, 'uah': 170486.3942228111, 'usd': 7195.153895430029, 'vef': 1787906827.0365582, 'vnd': 166781105.77811068, 'xag': 402.92063152325767, 'xau': 4.74225398093898, 'xdr': 5197.441001825567, 'xlm': 159772.2653475453, 'xrp': 37279.9468250421, 'zar': 100810.58171348099, 'link': 4081.726593175324}

   index             0
0    aed  2.642924e+04
1    ars  4.305630e+05
2    aud  1.025681e+04
3    bch  3.513946e+01
4    bdt  6.106991e+05
5    bhd  2.712904e+03
6    bmd  7.195154e+03
7    bnb  5.245665e+02
8    brl  2.892430e+04
9    btc  1.000000e+00
10   cad  9.358377e+03
11   chf  6.960592e+03
12   clp  5.320109e+06
13   cny  5.010202e+04
14   czk  1.630990e+05
15   dkk  4.794275e+04
16   eos  2.781881e+03
17   eth  5.568502e+01
18   eur  6.412846e+03
19   gbp  5.425866e+03
20   hkd  5.603982e+04
21   huf  2.124570e+06
22   idr  9.989032e+07
23   ils  2.485350e+04
24   inr  5.130217e+05
25   jpy  7.820050e+05
26   krw  8.308532e+06
27   kwd  2.181549e+03
28   lkr  1.304736e+06
29   ltc  1.740887e+02
30   mmk  1.061772e+07
31   mxn  1.362215e+05
32   myr  2.943178e+04
33   nok  6.345838e+04
34   nzd  1.070709e+04
35   php  3.641519e+05
36   pkr  1.114376e+06
37   pln  2.738296e+04
38   rub  4.464246e+05
39   sar  2.698977e+04
40   sek  6.740348e+04
41   sgd  9.704824e+03
42   thb  2.136591e+05
43   try  4.280253e+04
44   twd  2.152286e+05
45   uah  1.704864e+05
46   usd  7.195154e+03
47   vef  1.787907e+09
48   vnd  1.667811e+08
49   xag  4.029206e+02
50   xau  4.742254e+00
51   xdr  5.197441e+03
52   xlm  1.597723e+05
53   xrp  3.727995e+04
54   zar  1.008106e+05
55  link  4.081727e+03

### Challenge 4: 

Get the ids of all of the coins listed on Coingecko. Extract the bottom ten IDs in a Dataframe.

In [82]:
# Your code here:

### Bonus Challenge: 

Write a loop that goes through the 10 coins you retrieved in challenge 3, and for each of them collects the market values against USD for the last 30 days. Then create a dataframe which has three columns: 'time', 'price' and 'coin' and combines the data of all these ten coins.

If you're ambitious: create a plot with 10 subplots for all of the series!

In [83]:
# Your code here: