## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here
# random.sample is a function, therefore we have to give relevant parameters, following a certain syntax 
# random.sample(population, k)
# definition of arguments and parameters creating function (arguments), call function (parameters)
# range function range([start,] stop [, step]) -> range object return a list
sample_list_1 = random.sample(range(100), k=80)

print(sample_list_1)

[29, 44, 50, 52, 83, 64, 7, 94, 46, 75, 20, 71, 58, 70, 81, 74, 63, 84, 96, 13, 45, 89, 69, 14, 55, 6, 88, 27, 57, 47, 49, 86, 25, 93, 97, 10, 73, 80, 59, 87, 92, 62, 78, 36, 2, 40, 66, 54, 99, 0, 82, 33, 35, 85, 79, 15, 51, 90, 77, 34, 72, 56, 21, 19, 65, 91, 32, 4, 31, 3, 5, 1, 60, 28, 95, 9, 12, 38, 17, 41]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [36]:
# Your code here
set1 = set(sample_list_1)
print(set1, len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 17, 19, 20, 21, 25, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 40, 41, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99} 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
# Your code here
# use loop to let the random function runs 80 times in order to get 80 random values. use append method of List (data structure)
# to build the list
sample_list_2 = []
for i in range(0,80):
    n = random.randrange(0,100)
    sample_list_2.append(n)

print(sample_list_2, len(sample_list_2))

[57, 38, 82, 89, 28, 78, 1, 36, 51, 33, 91, 65, 69, 68, 41, 90, 80, 55, 38, 1, 16, 72, 43, 77, 22, 94, 64, 61, 22, 36, 31, 85, 77, 95, 65, 98, 40, 38, 0, 93, 87, 45, 5, 40, 36, 21, 32, 35, 72, 48, 94, 48, 35, 50, 5, 89, 14, 81, 17, 29, 55, 89, 64, 72, 56, 32, 2, 20, 0, 46, 65, 85, 66, 33, 72, 7, 77, 26, 61, 25] 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [12]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

# no it is not because set removed the duplicates

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
# Your code here
set3 = set1 - set2
print(set3)

{3, 4, 6, 9, 10, 12, 13, 15, 19, 27, 34, 44, 47, 49, 52, 54, 58, 59, 60, 62, 63, 70, 71, 73, 74, 75, 79, 83, 84, 86, 88, 92, 96, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
# Your code here
set4 = set2 - set1
print(set4)

{98, 68, 43, 16, 48, 22, 26, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here
set5 = set1.union(set2)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [16]:
# Your code here
len(set3) == len(set1) - len(set1.intersection(set2))
len(set4) == len(set2) - len(set1.intersection(set2))
len(set5) == len(set1) + len(set2) - len(set1.intersection(set2))
print(len(set1), len(set2), len(set3), len(set4), len(set5))

80 53 35 8 88

#### Create an empty set called `set6`.

In [17]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [19]:
# Your code here

# update method can be used for set and dic
# A.update(iterable)
# A is a set, and iterable can be any iterable such as list, set, dictionary, string, etc. The elements of the iterable are added to the set A.
set6.update(set3, set5)
print(set6, len(set6))

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99} 88

#### Check if `set1` and `set6` are equal.

In [20]:
# Your code here
len(set1) == len(set6)
print(len(set1), len(set6))

80 88

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [21]:
# Your code here

# set.issubset(set) parameter set	Required. The set to search for equal items in
if set2.issubset(set1) ==True:
    print("Yes")
else:
    print("No")

No

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [29]:
# Your code here
'''The difference between the two sets in Python is equal to the difference between the number of elements in two sets. 
The function difference() returns a set that is the difference between two sets. Let’s try to find out what will be the 
difference between two sets A and B. Then (set A – set B) will be the elements present in set 
A but not in B and (set B – set A) will be the elements present in set B but not in set A.
set_A.difference(set_B) for (A - B)
set _B.difference(set_A) for (B - A)'''

set7 = set3.union(set4, set5)
print(set7, len(set7))
set8 = set1.union(set2)
print(set8, len(set8))
if set7.difference(set8) == set():
    print("They are equal")

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99} 88
{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99} 88
They are equal

#### Using the `pop` method, remove an element from `set1`.

In [40]:
# Your code here
# set.pop() The pop() method removes an arbitrary element from the set and returns the element removed.
# Remember that sets are unordered, so you will not know what item that gets removed.
# remove the last element
# The list.pop() method removes the specified index, (or the last item if index is not specified):
print((set1), set1.pop())

{3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 17, 19, 20, 21, 25, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 40, 41, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99} 2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [42]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_newset1 = []
for element in set1:
    if element not in list_to_remove:
        list_newset1.append(element)
print(list_newset1)

[3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 17, 20, 25, 27, 28, 32, 33, 34, 35, 36, 38, 40, 44, 45, 46, 47, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97]

In [50]:
# difference_update()	Removes the items in this set that are also included in another, specified set.
# Remove the items that exist in both sets:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)

set1 = set([0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 17, 19, 20, 21, 25, 27, 28, 29, 31, 32, 33, 34, 35, 36, 38, 40, 41, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99])
set1.difference_update(set_to_remove)

print(set1)

{0, 2, 3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 17, 20, 25, 27, 28, 32, 33, 34, 35, 36, 38, 40, 44, 45, 46, 47, 50, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97}